@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 186 83% 75%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 210 13% 87%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 48%;
    --muted-foreground: 0 0% 85%;
    --accent: 195 87% 77%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 48%;
    --input: 0 0% 48%;
    --ring: 186 83% 75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 186 83% 75%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 210 13% 87%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 48%;
    --muted-foreground: 0 0% 85%;
    --accent: 195 87% 77%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 48%;
    --input: 0 0% 48%;
    --ring: 186 83% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

